doubleml==0.12.dev0
DoubleML_Deep==0.1.dev0
lightgbm==4.6.0
lightning==2.4.0
linearmodels==6.1
matplotlib==3.10.8
numpy==2.4.1
pandas==2.3.3
PyYAML==6.0.3
pyzmq==27.1.0
scikit_learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
statsmodels==0.14.5
torch==2.5.1
wandb==0.24.0
